/* src/components/Gallery.css */

.gallery {
    padding: 50px 20px;
    background-color: #e8eed6;
    margin-bottom: 50px; 
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;

  }
  
  .gallery-item {
    position: relative;
    border: 1px solid #cad79a;
    text-align: center;
    padding: 39px 30px;
    min-height: 100%;
  }
  
  .gallery-item img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 200px;
  }
  
  .gallery-item h3 {
    font-size: 48px;
    line-height: 48px;
    font-family: "Egyptienne", serif;
    color: #00693e;
    font-weight: bold;
    margin: 0;
    text-align: left;
  }
  
  .gallery-item .alt-title {
    display: block;
    font-size: 18px;
    line-height: 21px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    text-transform: none;
    font-weight: normal;
  }
  